<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <title>Add_Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
            rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container mt-5">
        <h2 class="text-center text-light mb-4">Add Employee</h2>
        <form action="{% url 'employee_add' %}" method ="post" class="w-50 mx-auto">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="nip" class="form-label text-light">Employee Number:</label>
                <input type="nip" name="nip" pattern ="[0-9]+" class="form-control"required>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert text-danger -{{ message.tags }}">
                        {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <br><br>
            </div>
            
            <div class="mb-3">
                <label for="first_name" class="form-label text-light">First Name:</label>
                <input type="first_name" name="first_name" class="form-control"required>
                <br><br>
            </div>
            
            <div class="mb-3">
                <label for="last_name" class="form-label text-light">Last Name:</label>
                <input type="last_name" name="last_name" class="form-control"required>
                <br><br>
            </div>
            
            <div class="form-group mb-3">
                <label for="gender" class="text-light">Gender:</label>
                <select class="form-control" name="gender">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
                <br><br>
            </div>
            
            <div class="mb-3">
                <label for="birth_place" class="form-label text-light">Birth Place:</label>
                <input type="birth_place" name="birth_place" class="form-control"required>
                <br><br>
            </div>
            
            <div class="mb-3">
                <label for="birth_date" class="form-label text-light">Birth Date:</label>
                <input type ="date" name="birth_date" value="{{form.birth_date.value|date:'Y/m/d'   }}"class="form-control"required>
                <br><br>
            </div>
            
            <div class="mb-3">
                <label for="address" class="form-label text-light">Address:</label>
                <textarea type="address" name="address" class="form-control"required></textarea>
                <br><br>
            </div>
            
            <div class="mb-3">
                <label for="phone_number" class="form-label text-light">Phone Number:</label>
                <input type="phone_number" name="phone_number" pattern ="[0-9]+" class="form-control"required>
                <br><br>
            </div>
            
            <div class="mb-3">
                <label for="email" class="form-label text-light">Email:</label>
                <input type="email" name="email" class="form-control"required>
                <br><br>
            </div>

            <div class="mb-3">
                <label for="date_joined" class="form-label text-light">Date Joined:</label>
                <input type="date" name="date_joined" value="{{ form.date_joined.value|date:'Y/m/d' }}" class="form-control"required>
                <br><br>
            </div>
    
            <button type="submit" class="button btn btn-success btn-block">Submit</button>
            <br><br>
            <a href ="{% url 'employee_list' %}" class="button btn btn-primary">Back</a>
       
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

<!-- NOTUSED -->
<!-- <button type="submit">Submit</button> -->
<!-- <p><a href="{% url 'employee_list' %}">View Employee List</a></p> -->